@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primary-color-of-text: white;
  --secondary-color-of-text: black;
  --primary-background-color: #f6f7f7;
  --secondary-background-color: #06071b;
  --menu-background-color: #07081d;
  --buttons-gradient: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  --header-gradient: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
  --hover-button-border-color: linear-gradient(
    90.03deg,
    #00c5eb -1.97%,
    #b544fe 89.43%
  );
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--primary-color-of-text);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
  
  @media screen and (min-width:768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}

// fonts : Inter 700 500 400
