.contacts {
    background-color: #06071B;
}

.contacts__title {
    text-align: center;

    padding-top: 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    @media screen and (min-width: 768px) {
        padding-top: 74px;

        font-size: 24px;
        line-height: 1.2;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 80px;
    }
}

.container--box {
    text-align: center;
    display: flex;
    flex-direction: column;

    margin-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-top: 38px;
        padding-bottom: 147px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 80px;
        padding-bottom: 139px;

        flex-direction: row-reverse;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 0;
    }
}

.form ::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    
    color: #939EAC;
}

.form__name {
    padding: 12px;

    border: none;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: 288px;
    }
}

.form__mail {
    padding: 12px;

    border: none;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: 288px;
    }
}

.form__message {
    resize: none;

    padding: 12px;

    height: 220px;
    
    border: none;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        width: 704px;
        height: 162;
    }

    @media screen and (min-width: 1280px) {
        width: 608px;
    }
}

.form__button {
    position: relative;

    display: block;

    padding: 0;
    margin-left: auto;
    margin-right: auto;

    min-width: 181px;
    min-height: 42px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--primary-color-of-text);
    
    border: none;
    border-radius: 5px;

    overflow: hidden;
    cursor: pointer;

    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }

    &::before {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 5px;
        background-color: var(--secondary-background-color);
        opacity: 0;
        transition: 300ms;
    }

    &__text {
        position: relative;
        z-index: 10;
    }
    
    @media screen and (min-width: 1280px) {
        margin-right: 0;

        &:hover::after,
        &:focus::after {
            opacity: 1;
        }
    }
}

.contacts--box {
    @media screen and (min-width: 1280px) {
        text-align: left;
        margin-right: 140px;
    }
}

.contacts__title-mini {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.contacts__text {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;

    @media screen and (min-width: 768px) {
        width: 500px;
        height: 38;

        font-size: 16px;
        line-height: 1.18;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 20px;
    }
}

.contacts_social {
    display: flex;
    justify-content: center;

    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    @media screen and (min-width: 1280px) {
        justify-content: left;
    }
}

.contacts__list:not(:first-child) {
    margin-left: 14px;
}

.contacts__adress {
    display: flex;
    flex-direction: column;
}

.contacts__link {
    text-decoration: none;
    font-style: normal;

    color: var(--primary-color-of-text);

    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

.contacts--phone {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.contacts--mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
}

.footer {
    border-top: 1px solid var(--primary-color-of-text);

    background-color: #06071B;
}

.footer__copyright {
    text-align: left;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24px;

    border-bottom: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
}


@media screen and (min-width: 768px) {
    br { display: none; }
}