.header {
  background-color: #06071b;
  background-image: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
  min-width: 100vw;
  position: absolute;
  top: 20;
  left: 0;
  z-index: 1;
  padding: 14px 0;
  &__icon {
    width: 24px;
    height: 14px;
    position: absolute;
  }
  &__menu {
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    position: absolute;
    top: 24;
    right: 40;
  }
}
.logo {
  font-size: 28px;
  line-height: calc(34 / 28);
  color: var(--primary-color-of-text);
  text-decoration: none;
}

.hero {
  width: 100%;
  background-color: #06071b;
  position: relative;
  min-height: 568px;
  &__title {
    margin-top: 12px;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
  &__list {
    list-style: none;
    padding-left: 22px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__item {
    font-size: 12px;
    line-height: calc(15 / 12);
    position: relative;
  }
}

.hero__item::before {
  content: '';
  background-image: url(../images/icon/dashicons_arrow-right-alt.svg);
  position: absolute;
  z-index: 1;
  top: 2;
  left: -17.5;
  width: 7.2px;
  height: 12.6px;
  fill: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  position: absolute;
  top: 182px;
  z-index: 5;
}

.page-title {
  font-size: 24px;
  line-height: calc(29 / 24);
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
.hero-button {
  width: 200px;
  height: 42px;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.background {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 472px;
  height: 456px;
  top: 94;
  overflow: hidden;
}

.hero__base {
  position: absolute;
  bottom: 20;
  left: 172;
  z-index: 2;
  width: 144.56px;
  height: 70.8px;
  transform: matrix(0.51, -0.86, -0.86, -0.51, 0, 0);
}

.hero__grade {
  position: absolute;
  min-width: 498.19px;
  height: 51.93px;
  z-index: 2;
  transform: rotate(-59.04deg);
  top: 192;
  left: -99;
}

.hero__phone {
  position: absolute;
  z-index: 4;
  min-width: 422px;
  max-height: 456px;
  opacity: 0.5;
  filter: drop-shadow(4px 4px 0px #252866);
  top: -22;
  left: 46;
}
.hero__phonec {
  position: absolute;
  z-index: 3;
  min-width: 422px;
  max-height: 456px;
  opacity: 0.5;
  top: 0;
  left: 52;
}
