.team {
  margin: 0 auto;
  background-repeat: no-repeat;
  padding-top: 40px;
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: var(--secondary-color-of-text);
    text-align: center;
    margin-bottom: 24px;
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    margin-bottom: 40px;
    color: var(--secondary-color-of-text);
    @media screen and (min-width: 1280px) {
      max-width: 886px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.team__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;
}
.team__prof {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}
.team__member {
  padding: 16px 16px 12px 16px;
  background: linear-gradient(
      312.87deg,
      rgba(0, 197, 235, 0.5) -0.2%,
      rgba(181, 68, 254, 0.5) 112.66%
    ),
    #06071b;
  backdrop-filter: blur(17.5px);
  border-radius: 15px;
  &:nth-child(2) {
    background: linear-gradient(
        105.09deg,
        rgba(0, 197, 235, 0.5) -13.66%,
        rgba(181, 68, 254, 0.5) 104.34%
      ),
      #06071b;
  }
  &:nth-child(3) {
    background: linear-gradient(
        105.09deg,
        rgba(0, 197, 235, 0.5) -13.66%,
        rgba(181, 68, 254, 0.5) 104.34%
      ),
      #06071b;
    @media screen and (min-width: 1280px) {
      background: linear-gradient(
          176.56deg,
          rgba(0, 197, 235, 0.5) 4.33%,
          rgba(181, 68, 254, 0.5) 116.56%
        ),
        #06071b;
    }
  }
}

.team__list {
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .team__text {
    font-size: 16px;
    line-height: 1.5;
  }
  .team__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  .team {
    padding-top: 80px;
  }
  .team__list {
    row-gap: 40px;
    column-gap: 32px;
  }
  .team__member {
    padding: 20px 20px 12px 20px;
  }
  .team__name {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .team__member {
    padding: 14px 12px 12px 12px;
  }
  .team__list {
    gap: 32px;
  }
  .team__title {
    margin-bottom: 80px;
  }
  .team__text {
    margin-bottom: 80px;
  }
  .team {
    padding-top: 80px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .team {
    background-position: 50% -700%, 50% 0;
    background-size: 767px, cover;
    background-image: url('../images/team/bkg-mob-top.png'),
      url('../images/team/bkg-mob-bottom.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/team/bkg-mob-top@2x.png'),
        url('../images/team/bkg-mob-bottom@2x.png');
    }
  }
}
@media screen and (min-width: 768px) {
  .team {
    background-position: right -50%, right 80%;
    background-size: 525px;
    background-image: url('../images/team/bkg-tab-top.png'),
      url('../images/team/bkg-tab-bottom.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/team/bkg-tab-top@2x.png'),
        url('../images/team/bkg-tab-bottom@2x.png');
    }
  }
}
@media screen and (min-width: 1280px) {
  .team {
    background-size: 625px;
    background-image: url('../images/team/bkg-desk-right.png'),
      url('../images/team/bkg-desk-left.png');
    background-position: right 170%, 20% 80%;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/team/bkg-desk-right@2x.png'),
        url('../images/team/bkg-desk-left@2x.png');
    }
  }
}
