<section class="footer">
    <div class="container bg-color">

        <h2 class="footer__title">CONTACT US</h2>

        <form class="footer__form">
            <input class="footer__name" type="text" name="user-name" id="user-name" placeholder="Name">
            <input class="footer__mail" type="email" name="email" id="e-mail" placeholder="Email">
            <textarea class="footer__message" name="message" id="message" rows="10" placeholder="message"></textarea>
            <button class="footer__button" type="submit">SUBMIT</button>
        </form>

        <h3>Get in touch with us</h3>

        <p>Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus lacus fringilla nulla sollicitudin tristique.</p>
    
        <div>
            <ul class="footer_social">
                <li class="footer__list list">
                    <a href="">
                       <img src="./images/facebook.svg" alt="">
                    </a>
                </li>
                <li class="footer__list list">
                    <a href="">
                       <img src="./images/twiter.svg" alt="">
                    </a>
                </li>
                <li class="footer__list list">
                    <a href="">
                       <img src="./images/link.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        
        <address>
            <a class="footer__contact" href="mailto:goIteens@gmail.com">goIteens@gmail.com</a>
            <a class="footer__contact" href="tel:+380950000000">+xx-xxxx-xxxx-xx</a>
        </address>
    </div>
</section>