<section class="hero section">
  <div class="header">
    <div class="container сont">
      <a href="#" class="logo">Mobileapp</a>
    </div>
    <button type="button" class="header__menu">
      <svg class="header__icon" width="24" height="14">
        <use href="../src/images/icon/sprite.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
  <div class="background">
    <img
      class="hero__base"
      src="./images/hero/bottomgradient-mob.png"
      width="144.5"
      height="70.8"
      alt="phone"
    />
    <img
      class="hero__grade"
      src="./images/hero/leftgradient-mob.png"
      width="498.19"
      height="51.93"
      alt="phone"
    />
    <img
      class="hero__phone"
      src="../images/hero/"
      width="395"
      height="430"
      alt="phone"
    />
  </div>
  <div class="container">
    <div class="wrapper">
      <h1 class="page-title">Introducing Mobileapp</h1>
      <h2 class="hero__title">Maecenas vitae tellus <br />sapien. Prasent</h2>
      <ul class="hero__list">
        <li class="hero__item">semper scelerisque tristique a enim</li>
        <li class="hero__item">Integer ut mattis nulla, eget vehicula elit</li>
        <li class="hero__item">Prasent rutrum ac nunc et</li>
      </ul>
      <div class="button-wrapper">
        <button type="button" class="hero-button">Download</button>
      </div>
    </div>
  </div>
</section>
