<header class="header" id="header">
  <div class="container header-container">
    <a href="#" class="logo">Mobileapp</a>
    <button
      type="button"
      class="header__menu js-open-menu"
      aria-expanded="false"
    >
      <svg class="header__icon" width="24" height="14">
        <use href="../src/images/icon/sprite.svg#burger-menu"></use>
      </svg>
    </button>
    <ul class="header__list list">
      <li class="header__item"><a href="#header" name="#">HOME</a></li>
      <li class="header__item"><a href="#features" name="#">FEATURES</a></li>
      <li class="header__item"><a href="#team" name="#">TEAM</a></li>
      <li class="header__item"><a href="#reviews" name="#">TESTIMONIALS</a></li>
      <li class="header__item"><a href="#footer" name="#">CONTACT</a></li>
    </ul>
  </div>
</header>
<section class="hero section">
  <div class="container">
    <div class="image-wrapper">
      <picture class="background">
        <img
          src="./images/hero/label.png"
          alt="phone"
          height="456"
          class="lable"
        />
        <img
          src="./images/hero/phone-mob.png"
          alt="phone"
          height="456"
          class="mob"
        />
      </picture>
      <picture>
        <!-- <source
          srcset="./images/hero/iphon-desctop"
          media="(min-width: 1280px)"
          alt="iphon-d"> -->
        <img
          src="./images/hero/iphon-desctop.png"
          class="image-tablet"
          alt="iphone"
        />
      </picture>
    </div>

    <div class="wrapper">
      <h1 class="page-title">Introducing Mobileapp</h1>
      <h2 class="hero__title">Maecenas vitae tellus <br />sapien. Prasent</h2>
      <ul class="hero__list list">
        <li class="hero__item">semper scelerisque tristique a enim</li>
        <li class="hero__item">Integer ut mattis nulla, eget vehicula elit</li>
        <li class="hero__item">Prasent rutrum ac nunc et</li>
      </ul>
      <div class="button-wrapper">
        <button type="button" class="hero-button" modal-open>Download</button>
      </div>
    </div>
  </div>
  <div class="mobile-menu js-menu-container">
    <a href="#" class="logo-mobile">Mobileapp</a>
    <button class="cross close-mobile-menu js-close-menu">
      <svg width="32" height="32">
        <use href="./images/icon/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <ul class="mobile-menu__list list">
      <li><a class="mobile-menu__item" href="#">HOME</a></li>
      <li>
        <span class="mobile-menu__secret">About us</span
        ><a class="mobile-menu__item" href="#">FEATURES</a>
      </li>
      <li><a class="mobile-menu__item" href="#">TEAM</a></li>
      <li><a class="mobile-menu__item" href="#">TESTIMONIALS</a></li>
      <li><a class="mobile-menu__item" href="#">CONTACT</a></li>
    </ul>
  </div>
</section>
