<div class="backdrop is-hidden-backdrop" data-modal-download>
<div class="modal">
    <button class="modal__close-button" type="button" modal-close>
    <svg class="modal__close-icon" width="24" height="24">
        <use href="./images/icon/sprite.svg#icon-cross"></use>
    </svg>
    </button>
  <h2 class="modal__title">Download</h2>
  <input class="download-free" type="checkbox" name="download-free" id="download-free">
  
  <div class="download-wrapper">
  
    <label class="download-free-label" for="download-free">
    <div class="download-item">
      <svg class="download-ico" width="80" height="106">
        <use href="./images/icon/sprite.svg#icon-download"></use>
      </svg>
      <h3 class="download-item__title">Download free plan</h3>
      <ul class="download-item__list list">
        <li>
          <p class="download-item__text">
            <svg width="14" height="14">
              <use href="./images/icon/sprite.svg#icon-arrow"></use>
            </svg>
            Donec posuere augue venenatis, aliquet
          </p>
        </li>
        <li>
          <p class="download-item__text">
            <svg width="14" height="14">
              <use href="./images/icon/sprite.svg#icon-arrow"></use>
            </svg>
            Donec posuere augue venenatis, aliquet
          </p>
        </li>
      </ul>
    </div>
    </label>
    
    <label class="download-paid-label" for="download-paid">
        <input class="download-paid" type="checkbox" name="download-paid" id="download-paid">
    <div class="download-item">
      <svg class="download-ico" width="80" height="106">
        <use href="./images/icon/sprite.svg#icon-download"></use>
      </svg>
      <h3 class="download-item__title">Download for 20$</h3>
      <ul class="download-item__list list">
        <li>
          <p class="download-item__text">
            <svg width="14" height="14">
              <use href="./images/icon/sprite.svg#icon-arrow"></use>
            </svg>
            Donec posuere augue venenatis, aliquet
          </p>
        </li>
        <li>
          <p class="download-item__text">
            <svg width="14" height="14">
              <use href="./images/icon/sprite.svg#icon-arrow"></use>
            </svg>
            Donec posuere augue venenatis, aliquet
          </p>
        </li>
        <li>
          <p class="download-item__text">
            <svg width="14" height="14">
              <use href="./images/icon/sprite.svg#icon-arrow"></use>
            </svg>
            Donec posuere augue venenatis, aliquet
          </p>
        </li>
      </ul>
    </div>
    </label>
  </div>
 
  <p class="modal__text">
    Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
    neque. In sit amet lectus non lacus
  </p>
  <div class="modal__feature-wrapper">
    <div class="modal__feature-item">
      <ul class="modal__feature-list list">
        <li class="modal__feature">
          <svg width="28" height="28">
            <use href="./images/icon/sprite.svg#icon-app-name"></use>
          </svg>
          <div class="modal__feature-descr">
            <h4 class="modal__feature-name">App name</h4>
            <p class="modal__feature-meta">Mobileapp.layout</p>
          </div>
        </li>
        <li class="modal__feature">
          <svg width="28" height="28">
            <use href="./images/icon/sprite.svg#icon-licence"></use>
          </svg>
          <div class="modal__feature-descr">
            <h4 class="modal__feature-name">License</h4>
            <p class="modal__feature-meta">Free</p>
          </div>
        </li>
        <li class="modal__feature">
          <svg width="28" height="28">
            <use href="./images/icon/sprite.svg#icon-author"></use>
          </svg>
          <div class="modal__feature-descr">
            <h4 class="modal__feature-name">Author</h4>
            <p class="modal__feature-meta">Mobile Marrket App.com</p>
          </div>
        </li>
        <li class="modal__feature">
          <svg width="28" height="28">
            <use href="./images/icon/sprite.svg#icon-data"></use>
          </svg>
          <div class="modal__feature-descr">
            <h4 class="modal__feature-name">Data</h4>
            <p class="modal__feature-meta">21.02.2022</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal__feature-item">
      <ul class="modal__feature-list list">
        <li class="modal__feature">
          <svg width="28" height="28">
            <use href="./images/icon/sprite.svg#icon-oc"></use>
          </svg>
          <div class="modal__feature-descr">
            <h4 class="modal__feature-name">OC</h4>
            <p class="modal__feature-meta">Windows</p>
          </div>
        </li>
        <li class="modal__feature">
          <svg width="28" height="28">
            <use href="./images/icon/sprite.svg#icon-language"></use>
          </svg>
          <div class="modal__feature-descr">
            <h4 class="modal__feature-name">Language</h4>
            <p class="modal__feature-meta">English</p>
          </div>
        </li>
        <li class="modal__feature">
          <svg width="28" height="28">
            <use href="./images/icon/sprite.svg#icon-size"></use>
          </svg>
          <div class="modal__feature-descr">
            <h4 class="modal__feature-name">Size</h4>
            <p class="modal__feature-meta">4.16 MB</p>
          </div>
        </li>
        <li class="modal__feature">
          <svg width="28" height="28">
            <use href="./images/icon/sprite.svg#icon-downloads"></use>
          </svg>
          <div class="modal__feature-descr">
            <h4 class="modal__feature-name">Downloads</h4>
            <p class="modal__feature-meta">964</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal__button-wrapper">
    <a class="modal__download-button" href="" download="">Download</a>
    </div>
  </div>
</div>
</div>
