<section class="reviewer section" id="reviews">
    <div class="container"> 
        <h2 class="reviewer__title">WHAT OUR 
            COSTUMER’S SAY</h2>
            <div class="swiper">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
            <div class="reviewer__img-tray">
            <img class="reviewer__image"
            srcset="
            ./images/reviews/customer_181.png 181w,
            ./images/reviews/customer_362.png 362w"
            sizes="181px"
            src="./images/reviews/customer_181.png"
            alt="photo of reviewer"
            width="181"
            height="181">
            <h3 class="reviewer__name">Jon Doe</h3>
            <p class="reviewer__company">Company Inc.</p>
        </div>
        <p class="reviewer__comment">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id </p>
    </div>
    <div class="swiper-slide">
        <div class="reviewer__img-tray">
        <img class="reviewer__image"
        srcset="
        ./images/reviews/customer_181.png 181w,
        ./images/reviews/customer_362.png 362w"
        sizes="181px"
        src="./images/reviews/customer_181.png"
        alt="photo of reviewer"
        width="181"
        height="181">
        <h3 class="reviewer__name">Jon Doe</h3>
        <p class="reviewer__company">Company Inc.</p>
    </div>
    <p class="reviewer__comment">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id </p>
</div>
<div class="swiper-slide">
    <div class="reviewer__img-tray">
    <img class="reviewer__image"
    srcset="
    ./images/reviews/customer_181.png 181w,
    ./images/reviews/customer_362.png 362w"
    sizes="181px"
    src="./images/reviews/customer_181.png"
    alt="photo of reviewer"
    width="181"
    height="181">
    <h3 class="reviewer__name">Jon Doe</h3>
    <p class="reviewer__company">Company Inc.</p>
</div>
<p class="reviewer__comment">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id </p>
</div>
<div class="swiper-slide">
    <div class="reviewer__img-tray">
    <img class="reviewer__image"
    srcset="
    ./images/reviews/customer_181.png 181w,
    ./images/reviews/customer_362.png 362w"
    sizes="181px"
    src="./images/reviews/customer_181.png"
    alt="photo of reviewer"
    width="181"
    height="181">
    <h3 class="reviewer__name">Jon Doe</h3>
    <p class="reviewer__company">Company Inc.</p>
</div>
<p class="reviewer__comment">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id </p>
</div>
<div class="swiper-slide">
    <div class="reviewer__img-tray">
    <img class="reviewer__image"
    srcset="
    ./images/reviews/customer_181.png 181w,
    ./images/reviews/customer_362.png 362w"
    sizes="181px"
    src="./images/reviews/customer_181.png"
    alt="photo of reviewer"
    width="181"
    height="181">
    <h3 class="reviewer__name">Jon Doe</h3>
    <p class="reviewer__company">Company Inc.</p>
</div>
<p class="reviewer__comment">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id </p>
</div>
<div class="swiper-slide">
    <div class="reviewer__img-tray">
    <img class="reviewer__image"
    srcset="
    ./images/reviews/customer_181.png 181w,
    ./images/reviews/customer_362.png 362w"
    sizes="181px"
    src="./images/reviews/customer_181.png"
    alt="photo of reviewer"
    width="181"
    height="181">
    <h3 class="reviewer__name">Jon Doe</h3>
    <p class="reviewer__company">Company Inc.</p>
</div>
<p class="reviewer__comment">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id </p>
</div>

    </div>
    <div class="swiper-pagination"></div>
    </div>
    </div>
</section>
