<section class="team" id="team">
  <div class="container">
    <h2 class="team__title">OUR TEAM</h2>
    <h4 class="team__text">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </h4>
    <ul class="team__list list">
      <li class="team__member">
        <picture>
          <source
            srcset="./images/team/desk01.png 1x, ./images/team/desk01@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/team/tab01.png 1x, ./images/team/tab01@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/team/mob01.png 1x, ./images/team/mob01@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./images/team/mob01.png" alt="Man with glasses" />
        </picture>

        <h3 class="team__name">Jon Doe</h3>
        <h4 class="team__prof">Managing Direcor</h4>
      </li>
      <li class="team__member">
        <picture>
          <source
            srcset="./images/team/desk02.png 1x, ./images/team/desk02@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/team/tab02.png 1x, ./images/team/tab02@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/team/mob02.png 1x, ./images/team/mob02@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./images/team/mob02.png" alt="Blonde woman" />
        </picture>
        <h3 class="team__name">Jon Doe</h3>
        <h4 class="team__prof">Lead Designer</h4>
      </li>
      <li class="team__member">
        <picture>
          <source
            srcset="./images/team/desk03.png 1x, ./images/team/desk03@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/team/tab03.png 1x, ./images/team/tab03@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/team/mob03.png 1x, ./images/team/mob03@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./images/team/mob03.png" alt="Woman with dark hair" />
        </picture>
        <h3 class="team__name">Jon Doe</h3>
        <h4 class="team__prof">Lead Developer</h4>
      </li>
      <li class="team__member">
        <picture>
          <source
            srcset="./images/team/desk04.png 1x, ./images/team/desk04@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/team/tab04.png 1x, ./images/team/tab04@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/team/mob04.png 1x, ./images/team/mob04@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./images/team/mob04.png" alt="Man with dark hair" />
        </picture>
        <h3 class="team__name">Jon Doe</h3>
        <p class="team__prof">Sr. UI Designer</p>
      </li>
    </ul>
  </div>
</section>
