<section class="video">
 <div class="container">
    <h2>

    </h2>
    <p>

    </p>
    <div class="video__svg-wrapper">

    </div>
    <img 
    
    srcset="
    ./images/video/telephone_image_501.png 501w,
    ./images/video/telephone_image_1002.png 1002w,
    ./images/video/telephone_image_tab_400.png 400w,
    ./images/video/telephone_image_tab_800.png 800w,
    ./images/video/telephone_image_mob_279.png 279w
    ./images/video/telephone_image_mob_558.png 558w"
    sizes="(min-width:1280px) 501px, (min-width:768px) 400px, (min-width:320px) 279px, 100vw" 
    src="./images/video/telephone_image_501.png"
    alt=""
    width="501"
    height="261">
    
 </div>
</section>